<div class="page-home">
  <section class="welcome">
    <h3 class="welcome">Welcome Eric!</h3>
    <a href="#/newact" class="new-act">
      Add New Activity
    </a>
  </section>
  <section class="activity-list">
    <span>Here are your activities:</span>
    <ul class="activity-list">
      <li class="activity-name">
        <h4 class="act-title">Push-ups</h4>
        <p class="act-description">My goal is to have 200 push-ups a day</p>
      </li>
      <li class="activity-name">
        <h4 class="act-title">Jog</h4>
        <p class="act-description">I will try my best to run in miles</p>
      </li>
    </ul>
  </section>
</div> <!-- end of .page-home -->
