<div class="page-home">
  <section class="welcome">
    <h3 class="welcome">{{homeAll[0].act_user}}</h3>
    <a href="#/newact" class="new-act">
      <i class="fa fa-plus-circle"></i> Add New Activity
    </a>
  </section>
  <section class="activity-list">
    <span>Here are your activities:</span>
    <ul class="activity-list">
      <li ng-repeat="activity in homeAll" class="activity-name">
        <i class="fa fa-arrow-circle-o-right"></i>
        <h4 class="act-title">{{activity.act_title}}</h4>
        <p class="act-description">{{activity.act_description}}</p>
        <p class="act-created">Started on Oct 27, 2015</p>
      </li>
    </ul>
  </section>
</div> <!-- end of .page-home -->
