<div class="page-login">
  <form action="#" name="login-form" id="loginform" ng-submit="logginUser()">
    <h1>Sign In</h1>
    <fieldset>
      <p id="sign-line-title"><strong>Sign into Your Account</strong></p>
      <input type="text" class="username-login" placeholder="Username"ng-model="user.username"></input> <br>
      <input type="password" class="username-password" placeholder="Password" ng-model="user.password"></input> <br>
      <input id="password-checkbox" type="checkbox">Keep me logged in on this computer</input> <br>
      <a href="/#">I forgot my password...</a> <br>
      <button type="submit" name="Log-In" id="login-button">Sign Me In</button>
    </fieldset>
  </form> <!-- end of #loginfrm -->
</div> <!-- end of .page-login -->
