<div class="page-newact">
  <section class="new-act">
    <h3 class="new-act">What activity you wanna track?</h3>
    <form class="new-act">
      <input id="act-title" type="text" placeholder="I want to..."/>
      <textarea type="text" class="description-box" name="comment-name" placeholder="More details here..." ng-model="askNew.body"></textarea>
      <input class="comment-submit" type="submit" value="Do it!">
    </form>
    <a href="#home" class="cancel">
      <i class="fa fa-arrow-circle-left cancel"></i>
      <span class="cancel">Back Home</span>
    </a>
  </section>
</div> <!-- .page-newact -->
