<div class="page-stat">
  <section class="stat-detail">
    <h3 class="act-title">Push-Ups</h3>
    <p class="act-description">My goal is to have 200 push-ups a day</p>
    <span class="your-stat">Here are your Stats:</span>
    <ul class="stat">
      <li class="stat-day">
        <p class="stat-date">Oct 25, 2015</h4>
          <p class="stat-count">count: 56</p>
        </li>
        <li class="stat-day">
          <p class="stat-date">Oct 26, 2015</h4>
            <p class="stat-count">count: 64</p>
          </li>
          <li class="stat-day">
            <p class="stat-date">Oct 27, 2015</h4>
              <p class="stat-count">count: 81</p>
            </li>
          </ul>
        </section>
      </div> <!-- end of .stat-detail -->
