
div.page-stat {
    width: 100%;
    margin: 0px 0px;
  section.stat-detail{
    display: block;
    text-align: center;
    padding-bottom: 5ex;
    padding-top: 2ex;
    h3.act-title{
      text-align: center;
      font-size: 2em;
    }
    p.act-description{
      text-align: center;
      font-size: 1em;
      text-shadow: 1px 1px 5px #000000;
      font-weight: 200;
      font-style: italic;
      margin-top: -30px;
    }
    form.new-stat{
      width: 90%;
      margin: 0px auto;
      span.new-stat{
        font-size: 1em;
        display: block;
      }
      input#count{
        display: inline-block;
        width: 3em;
        height: 36px;
      }
      input.count-submit{
        cursor: pointer;
        background-color: #376883;
        color: #ffffff;
        padding: 10px 6px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #ffffff;
        text-decoration: none;
      }
    }
  } //section welcome
    span.your-stat{
      margin-top: 5ex;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      display: block;
    }
    ul.stat {
      width: 90%;
      margin: 0 auto;
      list-style: none;
      text-align: left;
      padding-left: 0px;
      padding-right: 0px;
      li.stat-day{
        background-color: #376883;
        i.fa-minus-circle{
          float: right;
          font-size: 1.5em;
          margin-top: 3px;
          margin-right: 5px;
        }
        p.stat-date{
          margin-bottom: 2px;
          margin-top: 0.5em;
          font-weight: 200;
          font-style: italic;
          text-align: center;
        }
        p.stat-count{
          font-size: 3em;
          font-weight: 400;
          margin-top: 0px;
          margin-bottom: 0px;
          text-align: center;
        }
      }
    }
}
